@model NerdDinner.Models.Dinner

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Model.Title</h4>
    <p>
        <strong>When:</strong>
        @Model.EventDate.ToShortDateString()
    </p>
    <p>
        <strong>Where:</strong>
        @Html.Encode(Model.Address),
        @Html.Encode(Model.Country)
    </p>
</div>

@{
    Html.RenderPartial("_RSVPStatus");
    Html.RenderPartial("_EditAndDeleteLinks");
}

@Html.ActionLink("Back", "Index")